* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Source Sans Pro;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input[type="text"] {
  height: 30px;
  width: 120px;
  border: none;
  padding-left: 0.5rem;
}

input[type="submit"] {
  height: 30px;
  width: 50px;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

dd {
  margin-inline-start: 0;
}

dl {
  margin: 0;
}
