.main-container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding-bottom: 5rem;
  max-width: 1000px;
  width: 90vw;
  min-height: 600px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.4);
}

.top-container {
  display: flex;
  align-items: center;
  margin: 1rem;
  background-color: $white;
  border-radius: 5px;
  padding: 1rem;
  h2 {
    margin-right: 2rem;
  }
  .search {
    cursor: pointer;
    color: $white;
  }
}

.form-container {
  position: relative;
  margin: 1rem 0;
  input {
    border: 1px solid black;
  }
  .suggestions {
    position: absolute;
    li {
      background: white;
      list-style: none;
      border-bottom: 1px solid #d8d8d8;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
      margin: 0;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      text-transform: capitalize;
      &:hover {
        background: rgb(230, 230, 230);
      }
    }
  }
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}
.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}

.hl {
  background-color: yellow;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.output-container {
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  margin: 0 1rem;
  width: auto;
  .title {
    display: flex;
    align-items: center;
    h1 {
      font-size: 3rem;
    }
    .icon-container {
      height: 50px;
      width: 50px;
      background: $icon-background;
      border-radius: 50%;
      margin-right: 0.6rem;
      margin-left: 1rem;
      img {
        height: 100%;
        width: auto;
      }
    }
    .temp-container {
      display: flex;
      margin: 0 1rem 0 auto;
      p {
        color: $white;
        border-radius: 5px;
        padding: 0 0.5rem;
        font-size: 2.5rem;
      }
      .temp-icon-container {
        height: 50px;
        width: 50px;
        margin-right: 0.6rem;
        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }
  .desc {
    font-size: 2rem;
  }
  .sun-container {
    display: flex;
    align-items: center;
    padding: 1rem 0.3rem;
    .icon-container {
      height: 50px;
      width: 50px;
      background: $icon-background;
      border-radius: 50%;
      margin-right: 0.6rem;
      img {
        width: auto;
        height: 100%;
      }
    }
    p {
      margin-right: 2.5rem;
      font-size: 1.8rem;
    }
  }
}

.forecast-container {
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
  height: 300px;
  margin: 1rem;
  .three-hour {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    position: relative;
    background-color: $white;
    margin-bottom: 10px;
    border-right: 1px solid lightgrey;
    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:hover {
      &:before {
        width: 100%;
      }
    }
    &:before {
      position: absolute;
      content: "";
      height: 3px;
      width: 0%;
      background-color: $orange;
      top: 0;
      left: 0;
      transition: width 0.1s ease-out;
    }
    .card {
      height: 100%;
      width: 70px;
      min-width: 70px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      .time {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .temp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        padding: 0.5rem 0;
        border-radius: 10px;
        font-size: 1.8rem;
        .icon-container {
          height: 50px;
          width: 50px;
          background: rgba(216, 216, 216, 1);
          border-radius: 50%;
          img {
            width: auto;
            height: 100%;
          }
        }
      }
      .wind {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        img {
          height: 20px;
          width: auto;
        }
      }
    }
    .card-large {
      display: flex;
      flex-direction: column;
      width: 0px;
      height: 100%;
      background: rgb(240, 240, 240) 100%;
      overflow: hidden;
      transition: all 0.2s ease;
      &.show-card-large {
        width: 240px;
        transition: all 0.2s ease;
      }
      .card-large-inner {
        padding: 0.8rem 1.5rem;
        width: 240px;
        h3 {
          font-weight: 700;
          font-size: 1.3rem;
          margin-bottom: 2rem;
        }
        dl {
          display: flex;
          flex-wrap: wrap;
          border-bottom: 1px solid rgb(150, 150, 150);
          padding-bottom: 1rem;
          margin-top: 1rem;
          dt {
            margin-right: 0.4rem;
            width: fit-content;
            color: rgb(50, 50, 50);
          }
          dd {
            flex-grow: 1;
            min-width: 50%;
            font-weight: bold;
          }
        }
        dl:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
}

.bold {
  font-weight: bold;
}

.mm {
  margin-left: 0.1rem;
  font-weight: lighter;
  color: grey;
}

// Forecast
.indent {
  margin-left: 1rem;
}

.rounded-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.rounded-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

// Temperature classes
.frigid {
  background-color: rgb(92, 160, 180);
}
.freezing {
  background-color: rgb(131, 194, 213);
}
.very-cold {
  background-color: rgb(103, 149, 104);
}
.cold {
  background-color: rgb(116, 168, 119);
}
.cool {
  background-color: rgb(141, 191, 113);
}
.comfortable {
  background-color: rgb(233, 204, 119);
}
.warm {
  background-color: rgb(199, 117, 96);
}
.hot {
  background-color: rgb(176, 91, 90);
}
.sweltering {
  background-color: rgb(152, 75, 68);
}
