.main-container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding-bottom: 5rem;
  max-width: 1000px;
  width: 80vw;
  min-height: 700px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.4);
}

.form-container {
  position: relative;
  .suggestions {
    position: absolute;
    li {
      background: white;
      list-style: none;
      border-bottom: 1px solid #d8d8d8;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
      margin: 0;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      text-transform: capitalize;
      &:hover {
        background: rgb(230, 230, 230);
      }
    }
  }
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}
.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}

.hl {
  background-color: yellow;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.forecast-container {
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
  height: 300px;
  .three-hour {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    position: relative;
    background-color: rgba(250, 250, 250, 1);
    margin-bottom: 10px;
    border-right: 1px solid lightgrey;
    &:hover {
      &:before {
        width: 100%;
      }
    }
    &:before {
      position: absolute;
      content: "";
      height: 3px;
      width: 0%;
      background-color: $orange;
      top: 0;
      left: 0;
      transition: width 0.1s ease-out;
    }
    .card {
      height: 100%;
      width: 70px;
      min-width: 70px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      .time {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .temp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        padding: 0.5rem 0;
        border-radius: 10px;
        font-size: 1.8rem;
        img {
          height: 45px;
          width: auto;
        }
      }
      .wind {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        img {
          height: 20px;
          width: auto;
        }
      }
    }
    .card-large {
      display: flex;
      flex-direction: column;
      min-width: 240px;
      height: 100%;
      padding: 0.8rem 1.5rem;
      background: rgb(240, 240, 240) 100%;
      h3 {
        font-weight: 700;
        font-size: 1.3rem;
        margin-bottom: 2rem;
      }
      dl {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid rgb(150, 150, 150);
        padding-bottom: 1rem;
        margin-top: 1rem;
        dt {
          margin-right: 0.4rem;
          width: fit-content;
          color: rgb(50, 50, 50);
        }
        dd {
          flex-grow: 1;
          min-width: 50%;
          font-weight: bold;
        }
      }
      dl:last-of-type {
        border-bottom: none;
      }
    }
  }
}

.bold {
  font-weight: bold;
}

.mm {
  margin-left: 0.1rem;
  font-weight: lighter;
  color: grey;
}

.indent {
  margin-left: 1rem;
}

.rounded-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.rounded-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
