.main-container {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  padding-bottom: 5rem;
  align-items: center;
  width: 600px;
  min-height: 700px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.4);
}

.form-container {
  position: relative;
  .suggestions {
    position: absolute;
    li {
      background: white;
      list-style: none;
      border-bottom: 1px solid #d8d8d8;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
      margin: 0;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      text-transform: capitalize;
      &:hover {
        background: rgb(230, 230, 230);
      }
    }
  }
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}
.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}

.hl {
  background-color: yellow;
}

.hide {
  display: none;
}

.forecast-container {
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
  height: 350px;
}

.three-hour {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 70px;
  background-color: rgba(255, 255, 255, 0.7);
  border-right: 1px solid grey;
  margin-bottom: 10px;
  .time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
  }
  .temp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0.5rem;
    border-radius: 10px;
    img {
      height: 20px;
      width: auto;
    }
  }
  .wind {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    img {
      height: 20px;
      width: auto;
    }
  }
}

.bold {
  font-weight: bold;
}
